@import './base.css';
@import 'primeicons/primeicons.css';
@import "tailwindcss";
@import "tailwindcss-primeui";

@theme {
  --color-team-pink: #FF029C;
  --color-team-blue: #478ECC;
  --color-team-green: #78FD09;
  --color-team-yellow: #F7EC0F;
  --color-team-black: #000000;
  --color-team-gray: #262626;
  --color-team-white: #FFFFFF;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
