@import './base.css';
@import 'primeicons/primeicons.css';
@import "tailwindcss";
@import "tailwindcss-primeui";

@theme {
  --color-team-pink: var(--color-team-pink);
  --color-team-blue: var(--color-team-blue);
  --color-team-green: var(--color-team-green);
  --color-team-yellow: var(--color-team-yellow);
  --color-team-black: var(--color-team-black);
  --color-team-gray: var(--color-team-gray);
  --color-team-white: var(--color-primary);
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}
